*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* --     Inicio     Pagina     -- */
/* -- Imagem e Menu --> (Header) -- */

.top-bar-menu{

    width: 100%;
    height: 256px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: left;
    position: relative;
    background-color: rgba(46, 123, 190, 0.9);
}

.top-bar-menu img{
        margin: 10px;
}
        .texto-img{
            margin-top: 103px;
            height: 50px;
        }
        .texto-img p{
            font-size: 22px;
        }
        .linha{
            width: 98.93vw;
            height: 0.5vh;
            background-color: rgb(0, 0, 0);
            text-align: center;
            
        }
        /* -- Fim do Header -- */
        /* -- Começo do Main -- */

        main{
            top: 260px;
            position: absolute;
        }
        .setor{
            width: 98.93vw;
            height: 75vh;
            background-color: rgb(190, 215, 243);
            position: relative;

        }
        
        .seta{
            position: absolute;
            left: 10px;
            width: 48px;
            height: 48px;
            top: 20px;
        }
        
        .seta:hover{
            opacity: 0.4;
        }

        .area_form{
            position: relative;
            width:450px;
            height:50vh;
            top: 10vh;
            left: 509.5px;
        }

        .area_form .form{
            position: absolute;
            display: block;
        }

        fieldset{
            width: 440px;
            height: 53vh;
            background-color: rgb(12, 12, 102);
            margin-left: 5px;
            border-radius: 15px;
        }
        legend{
            font-weight:900;
            font-size: 30px;
            color:#fff;
            text-shadow: 3px 3px 5px rgb(12, 12, 102);
            -webkit-text-stroke-width: 1.5px; 
            -webkit-text-stroke-color: rgb(12, 12, 102);
        }   
        .escolha{
            font-size: 19px;
            color: rgb(255, 255, 0);
            margin-left: 14px;
            font-weight: bold;
        }
        .top-label{
            margin-top: 20px;

        }
        label{
            margin-left:19px;
            margin-right:5px;
            font-size: large;
            color: #fff;
            font-weight: bold;
        }
        .campo_nome
        {
            margin-left: 10px;
            width:220px;
            height: 40px;
            border-radius: 10px;
        }
        .campo_autor{
            margin-left: 104px;
            width:220px;
            height: 40px;
            border-radius: 10px;
        }
        .campo_genero{
            margin-left: 89px;
            width:220px;
            height: 40px;
            border-radius: 10px;
        }
        .campo_instrumento{
            margin-left: 49px;
            width:220px;
            height: 40px;
            border-radius: 10px;
        }
        .button_submit{
            background-color: crimson;
            float: right;
            margin-right: 20px;
            margin-top: 15px;
            width: 80px;
            height: 50px;
            border-radius: 12%;
            box-shadow: 3px 3px grey;
            font-weight: bold;
            color: #fff;
        }
        .button_submit:hover{
            background-color: rgb(0, 211, 211);
            cursor: pointer;
        }
        .button_back{
            background-color: rgb(98, 41, 231);
            float: left;
            margin-left: 10px;
            margin-top: 140px;
            width: 60px;
            height: 38px;
            border-radius: 12%;
            box-shadow: 3px 3px grey;
            color: #fff;
        }
        .button_back:hover{
            background-color: rgb(0, 211, 211);
            cursor: pointer;  
            color: #000;
        }

        /* --   Fim do Main   -- */
        /* -- Começo do Footer -- */

        .rodape{
            position: relative;
            top: 75vh;
            height: 12vh;
            width: 100%;
            background-color: rgb(12, 12, 102);
        }

        .rodape-img img{
            padding: 10px;
            margin-top: 1vh;
        }
        .rodape-txt{
            color: rgb(230, 230, 230);
            margin-top: -15px;;
            text-align: center;
        }
        .rodape-icons{
            margin-right: 15px;
        }

        .rodape-icons img{
            float: right;
            padding: 4px;
            margin-top: -4vh;
            width: 38px;
            height: 38px;
        }

        /* -- Fim do Footer -- */