*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* --     Inicio     Pagina     -- */
/* -- Imagem e Menu --> (Header) -- */

.seta{
    position: absolute;
    left: 10px;
    width: 48px;
    height: 48px;
    top: 20px;
}

.seta:hover{
    opacity: 0.4;
}

.top-bar-menu{
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background:url('../img/adc-img2.jpg');
    position: absolute;
}

.menu{
    width: 1350px;
align-items: center;
justify-content: center;
margin-bottom: 223px;
}
.menu li select{
    font-size: 14pt;
    height: 50px;
    text-align: center;
    padding: 14px 55px;
    color: rgb(88, 88, 88);
    text-decoration: none;
}

.menu li select:hover{
    background-color: rgb(221, 220, 220);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#fff;
    font-size: 14pt;
    box-shadow: 20px 20px 10px rgba(0,0,0,0.5);
    }

    ul li:first-child{
        float: left;
    }

    .menu li{
        float:right;
        position: relative;
        }
        li a {
        display: block;
        color: rgb(88, 88, 88);
        text-align: center;
        padding: 14px 55px;
        text-decoration: none;
        }
        li a:hover {
        background-color: rgb(221, 220, 220);
        }


        .linha{
            width: 98.93vw;
            top: 60vh;
            height: 0.5vh;
            background-color: rgb(0, 0, 0);
            text-align: center;
            position: absolute;
            
        }
        /* -- Fim do Header -- */
        /* -- Começo do Main -- */

        .setor{
            width: 98.93vw;
            height: 45vh;
            top: 60.5vh;
            background-color: rgb(190, 215, 243);
            position: relative;
        }

        .borda{
            position: absolute;
            width: 1499px;
            height: 333px;
            margin: 10px;
            border: 2px solid #000;
        }

        .area_form{
            margin-top: 5px;
            padding: 20px;
            width: 480px;
            height: 319px;
            border: 1px solid rgb(0, 0, 0);
            border-bottom: hidden ;
            border-top: hidden;
            border-left: hidden;
        }
        .area_form2{
            margin-top: -320px;
            margin-left: 500px;
            padding: 20px;
            width: 550px;
            height: 319px;
            border: 1px solid #000;
            border-bottom: hidden ;
            border-top: hidden;
            border-left: hidden;
        }
        .form{
            height: 290px;
            background-color: rgb(162, 182, 206);
            border-radius: 10px;
        }
        label{
            font-size: 25px;
            color: crimson;
            font-weight: bold;
            margin-left: 10px;
        }
        .lNome{
            border-radius: 8px;
            height: 35px;
            width: 250px;
            margin-left: 25px;
            margin-top: 25px;
        }
        .lEmail{
            border-radius: 8px;
            height: 35px;
            width: 250px;
            margin-left: 95px;
            margin-top: 25px;
        }
        .lSenha{
            border-radius: 8px;
            height: 35px;
            width: 250px;
            margin-left: 87px;
            margin-top: 25px;
        }
        .imgButton-container{
            margin-top: 45px;
        }
        .imgButton-container img{
            margin-left: 280px;
        }
        .button{
            background-color: crimson;
            float: right;
            margin-right: 10px;
            width: 80px;
            height: 50px;
            border-radius: 12%;
            box-shadow: 3px 3px grey;
            font-weight: bold;
            color: #fff;
        }
        .button:hover{
            background-color: rgb(0, 211, 211);
            cursor: pointer;
        }

        .Bt_logout{
            float: right;
            margin-top: -25px;
            margin-right: 10px;
            width: 425px;
            height: 25px;
            background-color: crimson;
            box-shadow: 3px 3px grey;
            font-weight: bolder;
            color: rgb(231, 235, 14);
        }
        .Bt_logout:hover{
            background-color: rgb(0, 211, 211);
            cursor: pointer;
        }
        /* --   Fim do Main   -- */
        /* -- Começo do Footer -- */

        .rodape{
            position: absolute;
            top: 105vh;
            height: 12vh;
            width: 100%;
            background-color: rgb(12, 12, 102);
        }

        .rodape-img img{
            padding: 10px;
            margin-top: 1vh;
        }
        .rodape-txt{
            color: rgb(230, 230, 230);
            margin-top: -15px;
            text-align: center;
        }
        .rodape-icons{
            margin-right: 15px;
        }

        .rodape-icons img{
            float: right;
            padding: 4px;
            margin-top: -4vh;
            width: 38px;
            height: 38px;
        }

        /* -- Fim do Footer -- */